*{
    margin: 0;
    box-sizing: border-box;
}
.app{
    height: 100vh;
    display: flex;
    background-color: rgb(33, 7, 51);
    color: white;
}

.main{
    width: 75%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.184), rgba(34, 1, 45, 0.84)), url("components/bg-image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    position: relative;
}
.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10%;
    background-color: rgb(48, 3, 89);
}
.bottom{
    height: 50%;
}
.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{
    width: 80%;
    background: linear-gradient(rgb(32, 3, 55),rgb(6, 5, 63));
    border: 2px solid white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
}
.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(rgb(18, 3, 31),rgb(46, 2, 19));
    cursor: pointer;
    margin: 10px;
}
.answer:hover,
.answer.active{
    background: rgb(5, 5, 148);
}
.answer.correct{
    animation: correct 4s ease forwards;
}
.answer.wrong{
    animation: wrong 4s ease forwards;
}
@keyframes correct{
    0%,30%,50%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(rgb(39, 3, 70),rgb(2, 12, 76));
    }
    60%,100%{
        background: rgb(5, 225, 5);
    }

}
@keyframes wrong{
    0%,30%,50%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(rgb(39, 3, 70),rgb(2, 12, 76));
    }
    60%,100%{
        background: rgb(220, 20, 20);
    }
}
.pyramid{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.moneyList{
    list-style:none ;
    width: 100%;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.moneyListItem{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.moneyListItem.active{
    background-color: teal;
}

.moneyListItemNumber{
    font-size: 18px;
    font-weight:100;
    width: 30%;
}
.moneyListItemAmount{
    font-size: 20px;
    font-weight: 200;
}

.endText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.start{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    justify-content: space-around;
}

.startInput{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
.startInput:focus{
    outline: none;
}
.startButton{
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#firstH1{
    margin-bottom: 15px;
}

@media only screen and (max-width: 860px) {
    .main{
        width:70%;
    }
    .pyramid{
        width: 30%;
    }
    .moneyList{
        padding: 10px;
    }
    .moneyListItemNumber{
        font-size: 15px;
        margin-top:-2px;
        margin-bottom: -2px;
        /* font-weight:100; */
        width: 30%;
        /* border: 1px solid red; */
    }
    .moneyListItemAmount{
        font-size: 16px;
        /* border: 1px solid red; */
        margin-top:-2px ;
        margin-bottom: -2px;
        font-weight: 200;
    }
    .endText{
       font-size: 10px;
    }
    .question{
        padding: 12px;
        border-radius: 10px;
        font-size: 16px;
    }
    .answer{
        width: 40%;
        padding: 10px;
        font-size: 14px;
        font-weight: 100;
        margin: 8px;
    }
    .timer{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        font-size: 25px;
       
    }
}